<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsaga.provizo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewCards"></activity>
        <activity android:name=".AddCard" />
        <activity android:name=".AboutUs" />
        <activity android:name=".completed" />
        <activity android:name=".consignee_details" />
        <activity android:name=".consignor_details" />
        <activity android:name=".goods" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".SignInUp" />
        <activity android:name=".SignUpSecond" />
        <activity android:name=".DeliveryLocation" />
        <activity android:name=".SelectServiceTruck" />
    </application>

</manifest>